html {
  box-sizing: border-box;
  margin: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  font-size: x-large;
}

h1 {
  font-size: xx-large;
}

nav ul {
  display: flex;
  width: min-content;
  justify-content: space-around;
  width: 100%;
}

nav ul li {
  list-style-type: none;
  background-color: rgb(57, 57, 239);
  color: aliceblue;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
  font-size: x-large;
  font-weight: 500;
}

header p {
  font-size: xx-large;
  text-align: center;
  font-weight: 550;
}

@media screen and (min-width: 768px) {
html {
  margin: 50px 25px;
}

  * {
    font-size: large;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  header {
    width: 100%;
    margin-bottom: 50px;
  }

  nav ul {
    padding-top: 20px;
  }

  aside h2 {
    margin-left: 50px;
  }

}

@media screen and (min-width: 1024px) {
  * {
    font-size: large;
  }

  nav ul {
    justify-content: center;
  }

  nav ul li {
    margin-left: 10px;
    font-size: large;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  header {
    width: 100%;
    margin-bottom: 50px;
  }

  nav ul {
    padding-top: 20px;
  }

  aside h2 {
    margin-left: 0;
    text-align: center;
  }

  h1 {
    font-size: x-large;
  }
  
}